$font-path: "../assets/fonts";
$app-direction: ltr;

@import "ionic.globals";

$colors: (
  primary:    #4976ac,
  secondary:  #5a5388,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);


@import "ionic.theme.default";
@import "ionic.ionicons";


// Fonts
@import "roboto";
@import "noto-sans";
